<form [formGroup]="todoForm" (ngSubmit)="handleSubmit()">
  <lib-form-control-container for="title" label="Title" [control]="title">
    <input input 
      id="title" formControlName="title" 
      [ngClass]="{error: title.dirty && title.invalid}" />
  </lib-form-control-container>
  <lib-form-control-container for="description" label="Description" [control]="description">
    <input input 
      id="description" formControlName="description" 
      [ngClass]="{error: description.dirty && description.invalid}" />
  </lib-form-control-container>
  <div>
    <button type="submit" 
      *ngIf="!!buttonText" 
      class="primary-button" 
      disabledButton [controls]="[title, description]">
      {{buttonText}}
    </button>
    <button type="submit" 
      *ngIf="!buttonText" 
      class="primary-button"
      [disabled]="!((title.dirty || description.dirty) && (!title.invalid && !description.invalid))">
      Submit
    </button>
  </div>
</form>
