<form [formGroup]="todoForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="title">title</label>
    <input id="title" formControlName="title" />
    <div *ngIf="title.invalid">
      <div *ngIf="title.errors.required">필수항목</div>
      <div *ngIf="title.errors.maxlength">최대 글자제한: {{title.errors.maxlength.requiredLength}}</div>
    </div>
  </div>
  <div>
    <label for="description">description</label>
    <input id="description" formControlName="description" />
    <div *ngIf="description.invalid">
      <div *ngIf="description.errors.required">필수항목</div>
      <div *ngIf="description.errors.maxlength">최대 글자제한: {{title.errors.maxlength.requiredLength}}</div>
    </div>
  </div>
  <div>
    <styled-primary-button type="submit" *ngIf="buttonText !== ''">
      <ng-container>{{buttonText}}</ng-container>
    </styled-primary-button>
    <styled-primary-button type="submit" *ngIf="buttonText === ''">
      <ng-container>Submit</ng-container>
    </styled-primary-button>
  </div>
</form>